
<%= link_to image_tag(asset_path("logo.png"), :border=>0), {:class=>"logo"}%>
<p></p>
<button type="button" class="btn btn-lg btn-warning" style="margin-left: 10cm;"><a href="http://bit.ly/vrdragon">立刻幫忙投票</a></button>
<p></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/BVeIF-Fa4OA" frameborder="0" allowfullscreen></iframe>
<div>
<h1>請投我們一票</h1>
<h3>隊名：第十四組 幫我撐十秒</h3>
<button type="button" class="btn btn-lg btn-warning" style="margin-bottom: 2cm;"><a href="http://bit.ly/vrdragon">立刻幫忙投票</a></button>
</div>